.App {
  width: 1000px;
  margin: auto;
}

h1, h2, p, ul, li {
  font-family: Helvetica, Arial, sans-serif;
}

ul.App-header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.App-header {
  background-color: #111;
  padding: 0;
}
ul.App-header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.App-content {
  background-color: #FFF;
  padding: 20px;
}
.App-content h2 {
  padding: 0;
  margin: 0;
}
.App-content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}